<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sentinel.android.checkservice"
      android:versionCode="1"
      android:versionName="1.0"
      android:sharedUserId="android.uid.system">
    <uses-sdk android:minSdkVersion="11" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application android:name=".CheckServiceApp" android:persistent="true" android:theme="@style/Theme.AppCompat.Light">
        <uses-library android:name="com.sentinel.android.services.check" android:required="true"/>

      <activity
         android:name=".NoticeActivity"
         android:label="CheckServiceApp" >
      </activity>

        <provider android:name=".providers.contacts.FakeContactsProvider"
            android:authorities="com.sentinel.android.providers.contacts"
            android:label="@string/provider_label"
            android:multiprocess="false"
            android:exported="true"
            android:readPermission="android.permission.READ_CONTACTS"
            android:writePermission="android.permission.WRITE_CONTACTS">
            <path-permission
                    android:pathPrefix="/search_suggest_query"
                    android:readPermission="android.permission.GLOBAL_SEARCH" />
            <path-permission
                    android:pathPrefix="/search_suggest_shortcut"
                    android:readPermission="android.permission.GLOBAL_SEARCH" />
            <path-permission
                    android:pathPattern="/contacts/.*/photo"
                    android:readPermission="android.permission.GLOBAL_SEARCH" />
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity android:name=".providers.contacts.debug.ContactsDumpActivity"
                android:label="@string/debug_dump_title"
                android:theme="@android:style/Theme.Holo.Dialog"
                >
            <intent-filter>
                <action android:name="com.android.providers.contacts.DUMP_DATABASE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Handles database upgrades after OTAs, then disables itself -->
        <receiver android:name=".providers.contacts.ContactsUpgradeReceiver">
            <!-- This broadcast is sent after the core system has finished
                 booting, before the home app is launched or BOOT_COMPLETED
                 is sent. -->
            <intent-filter>
                <action android:name="android.intent.action.PRE_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
    <permission android:name="com.sentinel.android.checkservice.CHECK_UID"
	  android:protectionLevel="dangerous"
	  android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
      android:label="@string/check_uid_permission_label"
      android:description="@string/check_uid_permission_description"/>

</manifest>
